.navbar-default {
	padding: 2em;
	background-color: #ffffff;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	max-height: 100%;
}

.breadcrumb {
	background-color: transparent;
	border-radius: 0;
}
.breadcrumb > li+li:before {
	content: '\00bb';
}