<div class="row">
	<div class="col-md-3">
	<div class="product-image">
		<img ng-src="{{image}}" ng-alt="{{name}}" class="img-responsive"/>
			<div class="price-box">
				<div class="price">{{price}}</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<header>
			<p class="muted">{{producer}}</p>
			<h1>{{name}}</h1>
		</header>
		<p>{{description}}</p>
		<p>
			<button class="btn btn-lg" ng-click="showRequests = !showRequests" ng-class="{'btn-info': showRequests, 'btn-default': !showRequests}">Dienstleistunganfrage erstellen</button>
			<button class="btn btn-lg btn-primary"><i class="fa fa-shopping-cart"></i> In den Warenkorb</button>
		</p>
	</div>
</div>
<div class="row sns-animate-show" ng-show="showRequests" ng-init="showRequests = false">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h2 class="panel-title">Verlauf</h2>
			</div>
			<div ng-if="!servicerequests" class="panel-body">Noch keine Konversation vorhanden.</div>
			<table ng-if="servicerequests" class="table">
				<tbody> 
					<tr ng-repeat="servicerequest in servicerequests">
						<td class="dl-table-date">{{servicerequest.date}}</td>
						<td class="dl-table-name">{{servicerequest.sender}}</td>
						<td class="dl-table-text">{{servicerequest.text}}</td>
					</tr>
				</tbody>
			</table>
					
		</div>
		<button type="button" class="btn btn-default btn-sm">Zur&uuml;ck zur Produkt&uuml;bersicht</button>
	</div>
</div>