        <div class="product-essential row">
		<div class="product-image">
			<img src="{{item.image}}" alt="{{item.name}}"/>
			<div class="price-box">
				<div class="price">{{item.price}}</div>
			</div>
		</div>
            <div class="product-shop">
                <h2>{{item.manufacturer}}<br/>
			<small>{{item.name}}</small></h2>
			<p class="text-muted">{{item.description}}</p>

				<button class="btn btn-primary">Dienstleistunganfrage erstellen</button>
				<button class="btn btn-primary btn-lg"><span class="fa fa-shopping-cart"></span>In den Warenkorb</button>
			</p>

            </div>
        </div>
